	html {
	    text-align: center;
	    font-family: Roboto, Helvetica, sans-serif;
	}
	
	body {
	    width: 100%;
	    text-align: center;
	    margin: 0px;
	    min-height: 800px;
	    background-color: #D0021B;
	    color: #FFFFFF;
	    overflow: hidden;
	}
	
	.content {
	    position: absolute;
	    top: calc(50% - 268px);
	    left: calc(50% - 426px);
	    width: 852px;
	    padding: 5px;
	    text-align: center;
	    height: 536px;
	}
	
	.bar {
	    text-align: center;
	    position: absolute;
	    top: 20%;
	    left: 25%;
	    width: 853px;
	    height: 7.1px;
	    background-color: #de3535;
	}
	
	.header-bar-top {
	    width: 853px;
	    height: 7.1px;
	    background-color: #de3535;
	    box-shadow: 0 0 10px 0 #aa2a2a;
	}
	
	.unSAFE {
	    width: 111.3px;
	    height: 33px;
	    font-family: Roboto, Helvetica, sans-serif;
	    font-size: 24px;
	    font-weight: bold;
	    font-style: normal;
	    font-stretch: normal;
	    text-align: left;
	    color: #ffffff;
	    position: relative;
	    top: 10px;
	    left: 30px;
	}
	
	.Rectangle {
	    width: 190.5px;
	    height: 56.8px;
	    background-color: #de3535;
	    text-align: center;
	    left: 661.5px;
	    position: relative;
	}
	
	.Rectangle-2 {
	    width: 852px;
	    height: 536px;
	    background-color: #1f2231;
	}
	
	.Shield {
	    width: 79px;
	    height: 93px;
	    object-fit: contain;
	    background-image: url(../images/icons/48.png);
	    background-repeat: no-repeat;
	    position: relative;
	    left: 65px;
	    top: 35px;
	}
	
	.layer {
	    width: 38.5px;
	    height: 38.5px;
	    object-fit: contain;
	    xbackground-image: url(../images/!!.png);
	    display: inline-block;
	    position: relative;
	    top: -30px;
	    left: 65px;
	}
	
	.Deceptive-site-ahead {
	    height: 28px;
	    font-size: 36px;
	    font-weight: bold;
	    font-style: normal;
	    font-stretch: normal;
	    line-height: 0.78;
	    text-align: left;
	    color: #ffffff;
	    display: inline-block;
	    position: relative;
	    top: -60px;
	    left: -60px;
	}
	
	.MyStart-Shield-prote {
	    width: 540px;
	    height: 28px;
	    font-size: 24px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: normal;
	    line-height: 1.17;
	    text-align: left;
	    color: #ffffff;
	    position: relative;
	    top: -40px;
	    left: 180px;
	}
	
	.We-have-detected-tha {
	    width: 630px;
	    height: 112px;
	    font-size: 18px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: normal;
	    line-height: 28px;
	    text-align: justify;
	    color: #ffffff;
	    position: relative;
	    top: -20px;
	    left: 180px;
	    opacity: 0.8;
	}
	
	.url {
	    font-size: 18px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: normal;
	    line-height: 28px;
	    text-align: justify;
	    color: #ffff00;
	    display: inline-block;
	}
	
	.separator {
	    width: 640px;
	    height: 1px;
	    background-color: #ffffff;
	    position: relative;
	    top: 80px;
	    left: 180px;
	    opacity: 0.6;
	}
	
	.checkbox {
	    width: 18px;
	    height: 18px;
	    border-radius: 4px;
	    border: solid 1px #ffffff;
	    position: relative;
	    top: 90px;
	    left: 180px;
	}
	
	.checkbox-checked,
	.checkbox-intermed {
	    width: 18px;
	    height: 18px;
	    border-radius: 4px;
	    border: solid 1px #ffffff;
	    background-clip: padding-box;
	    position: relative;
	    top: 90px;
	    left: 180px;
	}
	
	.checkbox-checked {
	    background: url('../images/checkbox-on-copy-11.png') no-repeat;
	    background-repeat: no-repeat;
	    background-position: 2px 2px;
	}
	
	.I-understand-that-vi {
	    width: 429px;
	    height: 28px;
	    font-size: 14px;
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: normal;
	    line-height: 2;
	    text-align: left;
	    color: #ffffff;
	    display: inline-block;
	    position: relative;
	    top: 66px;
	    left: 0px;
	    opacity: 0.7;
	}
	
	.hover-bar-1 {
	    width: 188px;
	    height: 33px;
	    border-radius: 100px;
	    position: relative;
	    top: 90px;
	    left: 350px;
	    border: solid 1px #5ade35;
	    cursor: pointer;
	}
	
	.hover-bar-2 {
	    width: 188px;
	    height: 33px;
	    border-radius: 100px;
	    border: solid 1px #de3535;
	    position: relative;
	    top: 55px;
	    left: 600px;
	    cursor: pointer;
	    color: #ffffff;
	}
	
	.Back-to-safety {
	    height: 28px;
	    font-size: 18px;
	    font-weight: bold;
	    font-style: normal;
	    font-stretch: normal;
	    line-height: 1.56;
	    text-align: center;
	    color: #ffffff;
	    position: relative;
	    top: 2px;
	}
	
	.Continue {
	    width: 83px;
	    height: 28px;
	    font-size: 18px;
	    font-weight: bold;
	    font-style: normal;
	    font-stretch: normal;
	    line-height: 1.56;
	    text-align: center;
	    color: #ffffff;
	    position: relative;
	    left: 55px;
	    top: 2px;
	}
	
	.disabled {
	    pointer-events: none;
	    cursor: context-menu;
	    opacity: 0.2;
	}