@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/Museosans-100-webfont.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/Museosans-300-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/Museosans-500-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/Museosans-700-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/Museosans-900-webfont.woff2') format('woff2');
    font-weight: 900;
    font-style: bold;
}

body {
    background-color: __color__;
    margin: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.disabled {
    pointer-events: none;
    opacity: 0.2;
    cursor: default !important;
}