div[class^="sponsor-"],
div[class^="ad-"],
div[class^="adv-"],
div[class*="jnAd"],
div[class*="-ads-"],
div[class*="_ads"],
div[class*="advert"] {
    display: none !important;
}

#footer-ads,
#ad_creative_3 {
    display: none !important;
}

:root [href^="https://www.youtube.com/cthru?"],
:root [href^="http://www.youtube.com/cthru?"],
:root .ytd-search-pyv-renderer,
:root .yt-masthead-ad-renderer,
:root .watch-extra-info-right,
:root .watch-extra-info-column,
:root .searchView.list-view,
:root .promoted-videos,
:root .list-view[style="margin: 7px 0pt;"],
:root .carousel-offer-url-container,
:root .ad-container,
:root #watch-channel-brand-div,
:root #watch-buy-urls,
:root #player-ads,
:root #watch-branded-actions,
:root #video-masthead,
:root #shelf-pyv-container,
:root #search-pva,
:root #premium-yva,
:root #homepage-chrome-side-promo,
:root #feedmodule-PRO,
:root #feed-pyv-container,
:root .pyv-afc-ads-container,
:root .ad-div,
:root .masthead-ad-control,
:root .ytp-ad-progress-list {
    display: none !important;
}

div[id*="_ad_"],
div[id*="-ad-"],
div[id*="ads-"],
div[id*="_ads_"],
div[id*="ADSRC_"] {
    display: none !important;
}

*[class*="Adsbar"],
*[class*="adsby"],
*[class*="dcmads"],
*[class*="Adsbar"] a {
    display: none !important;
}

iframe[src*="/ads/"] {
    display: none !important;
}