body {
    width: 100%;
    height: 100%;
    font-family: MuseoSans;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e7;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #a6b0c9;
    margin: 1em 0;
}

.logo {
    padding-left: 22px;
    padding-top: 16px;
    height: 145px;
    background-color: __color__;
}

.header-label {
    width: 184px;
    height: 29px;
    font-family: MuseoSans;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    position: relative;
    top: -8px;
}

.line {
    position: relative;
    top: -12.6px;
    z-index: 1000;
}

.login {
    width: 48px;
    height: 22px;
    font-family: MuseoSans;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    float: right;
    padding-right: 22px;
    padding-top: 22px;
    display: none;
}

.Screen01 {
    width: 1366px;
    height: 768px;
    background-color: #a6b0c9;
}

.left-menu {
    position: absolute;
    top: 160px;
    width: 260px;
    height: 82.5%;
    background-color: #eceff3;
    font-family: MuseoSans;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

.left-menu li {
    list-style: none;
}

.left-menu input[type=radio] {
    display: none;
}

#tab-block:checked~label[for=tab-block] li,
#tab-allow:checked~label[for=tab-allow] li,
#tab-adult:checked~label[for=tab-adult] li,
#tab-settings:checked~label[for=tab-settings] li,
#tab-about:checked~label[for=tab-about] li,
#tab-help-us:checked~label[for=tab-help-us] li {
    height: 83px;
    background-color: __color__;
    color: #ffffff;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
    display: block;
    line-height: 55px;
}

.listing {
    position: relative;
    top: 3px;
}

#tab-block:checked~label[for=tab-block] i,
#tab-allow:checked~label[for=tab-allow] i,
#tab-adult:checked~label[for=tab-adult] i,
#tab-settings:checked~label[for=tab-settings] i,
#tab-about:checked~label[for=tab-about] i,
#tab-help-us:checked~label[for=tab-help-us] i {
    content: url('../images/rectangle-14.png');
    float: right;
    display: block;
    position: relative;
    top: 18px;
    left: 20px;
}

#tab-block:checked~label~li[for=tab-block],
#tab-allow:checked~label~li[for=tab-allow],
#tab-adult:checked~label~li[for=tab-adult],
#tab-settings:checked~label~li[for=tab-settings],
#tab-about:checked~label~li[for=tab-about] {
    border: solid 1px brown;
    padding-top: 18px;
}

.not-selected li {
    height: 35px;
    background-color: #eceff3;
    color: __color__;
    padding-top: 18px;
    padding-left: 28px;
    cursor: pointer;
}

.Rectangle-12 {
    position: absolute;
    bottom: 1px;
    width: 260px;
    height: 85px;
    background-color: #172b5b;
    cursor: pointer;
}

.ratings {
    width: 131px;
    height: 19px;
    font-family: MuseoSans;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #eceff3;
    padding-left: 20px;
    padding-top: 15px;
}

.Active-on-Light {
    width: 36px;
    height: 24px;
    cursor: pointer;
    padding-right: 10px;
}

.stars {
    display: table;
    width: 250px;
    margin-left: -5px;
    padding-top: 10px;
}

.Rectangle-14 {
    width: 45px;
    height: 24px;
    object-fit: contain;
    border-radius: 100px;
    background-color: #dee2e7;
}

.Rectangle-15 {
    width: 230px;
    height: 38px;
    background-color: __color__;
    position: relative;
    top: 327px;
    font-family: MuseoSans;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-left: 28px;
    padding-top: 15px;
    border-bottom: solid 1px #a6b0c9;
}

#blocked-mode {
    display: none;
    position: absolute;
    top: 100px;
    left: 260px;
}

#allowed-mode {
    display: block;
}

.right-panel {
    position: absolute;
    width: 84%;
    height: 82.5%;
    top: 160px;
    left: 260px;
}

.right-panel-blocked {
    position: absolute;
    width: 84%;
    height: 758px;
    top: 100px;
    left: 260px;
    display: block;
}

.right-panel section {
    display: none;
}

.search-div {
    position: absolute;
    top: 0px;
    left: 0px;
}

 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #a6b0c9;
    font-family: MuseoSans;
    font-size: 17.8px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.search {
    width: 80%;
    height: 40px;
    background-color: #eceff3;
    font-family: MuseoSans;
    font-size: 17.8px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    display: inline-block;
    padding-left: 10px;
    border: 0px;
}

.search-button {
    width: 74.3px;
    height: 40px;
    font-family: MuseoSans;
    font-size: 17.8px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    margin-left: -9px;
    margin-top: 0.5px;
    border: 0px;
}

.spacing {
    height: 11px;
}

.block {
    background-color: #f95217;
    cursor: pointer;
}

.trust {
    background-color: #1ec713;
    cursor: pointer;
}

.content {
    background-color: #dee2e7;
    height: 695px;
    width: 1120px;
}

.switch-div {
    top: -5px;
    left: 42px;
    display: inline-block;
    position: relative;
}

.content-header {
    width: 100%;
    height: 43px;
    font-family: MuseoSans;
    font-size: 26px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #172b5b;
    padding-left: 45px;
    padding-top: 40px;
    display: inline-block;
}

.OFF {
    width: 23px;
    height: 14px;
    font-family: MuseoSans;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #172b5b;
    padding-left: 4px;
}

.ON {
    width: 19px;
    height: 14px;
    font-family: MuseoSans;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #172b5b;
}

.adult-sub-header {
    width: 819px;
    height: 48px;
    font-family: MuseoSans;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #556282;
    position: relative;
    top: 40px;
}

.advanced-settings {
    width: 252px;
    height: 22px;
    font-family: MuseoSans;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #172b5b;
    position: relative;
    top: 110px;
}

.panel {
    width: 338px;
    height: 254px;
    background-color: #eceff3;
}

.filters {
    position: absolute;
    top: 300px;
}

.safe {
    position: absolute;
    left: 390px;
    top: 300px;
}

.search-engine {
    position: absolute;
    left: 734px;
    top: 300px;
}

.slider {
    position: relative;
    top: 10px;
    display: inline;
    cursor: pointer;
}

.slider-big {
    position: relative;
    top: 14px;
    display: inline;
    cursor: pointer;
}

.on-big {
    content: url("../images/switch-on.svg");
    width: 60px;
    height: 36px;
}

.off-big {
    content: url("../images/switch-off.svg");
    width: 60px;
    height: 36px;
}

.on {
    content: url("../images/switch-on.svg");
    width: 50px;
    height: 30px;
}

.off {
    content: url("../images/switch-off.svg");
    width: 50px;
    height: 30px;
}

.section-headers {
    width: 34px;
    height: 14px;
    font-family: MuseoSans;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #a6b0c9;
    position: relative;
    left: 11px;
    top: -11px;
}

.label {
    width: 300px;
    height: 24px;
    font-family: MuseoSans;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #556282;
    display: inline-block;
    left: 8px;
    top: -5px;
    position: relative;
}

.panel ul {
    display: inline-block;
    list-style-type: disc;
    position: relative;
    top: -30px;
    left: -30px;
    width: 355px;
    height: 12px;
}

.checkbox {
    width: 14px;
    height: 14px;
    cursor: pointer;
    float: left;
    cursor: pointer;
    float: left;
    background-color: #a6b0c9;
}

.checkbox-checked,
.checkbox-intermed {
    background-repeat: no-repeat;
}

.checkbox-checked {
    background-image: url('../images/checkbox-on-copy-11.png');
    width: 14px;
    height: 14px;
    object-fit: contain;
}

.item {
    width: 345px;
    height: 30px;
    font-family: MuseoSans;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 25px;
    letter-spacing: normal;
    text-align: left;
    color: #556282;
}

.settings-sub-header {
    height: 22px;
    font-family: MuseoSans;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #172b5b;
    position: relative;
    top: 89px;
}

.Rectangle-16 {
    width: 730px;
    height: 140px;
    background-color: #eceff3;
    position: relative;
    top: 123px;
}

.set-pwd {
    width: 359px;
    height: 34px;
    background-color: #a6b0c9;
    position: relative;
    top: 10px;
    left: 15px;
    border: 0px;
    font-size: 18px;
}

.set-pwd-button {
    position: absolute;
    top: 90px;
    left: 15px;
    width: 195px;
    height: 40px;
    background-color: __color__;
    font-family: MuseoSans;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #eceff3;
    border: 0px;
    cursor: pointer;
}

.pwd-options {
    position: absolute;
    top: -10px;
    left: 390px;
}

.website {
    width: 84%;
    font-family: MuseoSans;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 45px;
    letter-spacing: normal;
    text-align: left;
    color: __color__;
    vertical-align: middle;
    padding-top: 30px;
    max-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
}

.Rectangle-8 {
    width: 864px;
    height: 50px;
    background-color: #eceff3;
    box-shadow: inset 0 -6px 0 0 #dee2e7;
    margin-top: 3px;
}

.website-entry {
    padding-left: 29px;
    display: inline-block;
}

.website-image {
    float: right;
    padding-right: 16px;
    padding-top: 10px;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    opacity: 0.2;
    cursor: default !important;
}

.white {
    color: #ffffff;
}

textarea {
    /* will prevent resizing horizontally */
    resize: vertical;
}


/* Popup container */

.popup {
    position: absolute;
    display: inline-block;
    top: 60px;
    left: 40%;
}


/* The actual popup (appears on top) */

.popup .popuptext {
    visibility: hidden;
    width: 210px;
    height: 25px;
    background-color: #a6b0c9;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
}


/* Popup arrow */

.popup .popuptext:before {
    content: "";
    position: absolute;
    top: -4px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #a6b0c9;
}


/* Toggle this class when clicking on the popup container (hide and show the popup) */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.popup .hide {
    visibility: hidden;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}


/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}