body {
    width: 322px;
    height: 372px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.26);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo {
    background-color: __color__;
    display: inline;
}

.logo-label {
    padding-top: 10px;
    padding-left: 12px;
    display: inline;
    font-family: MuseoSans;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    position: relative;
    top: -8px;
}

.switch-div {
    top: 10px;
    display: inline;
    position: relative;
    float: right;
}

.slider {
    position: relative;
    top: 10px;
    left: 22px;
    display: inline;
    cursor: pointer;
}

.on {
    content: url("../images/switch-on.svg");
    width: 40px;
    height: 24px;
}

.off {
    content: url("../images/switch-off.svg");
    width: 40px;
    height: 24px;
}

.Rectangle-4 {
    height: 52px;
    cursor: pointer;
}

.Rectangle-5 {
    width: 322px;
    height: 52px;
    background-color: #f95217;
    display: inline-block;
    cursor: pointer;
}

.Rectangle-6 {
    width: 322px;
    height: 52px;
    background-color: #1ec713;
    cursor: pointer;
}

.domain {
    text-align: center;
    font-family: MuseoSans;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    height: 55px;
    vertical-align: middle;
    position: relative;
    top: 10px;
}

.label {
    width: 242px;
    height: 19px;
    font-family: MuseoSans;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-left: 20px;
    padding-top: 17px;
    display: inline-block;
}

.left {
    text-align: left;
}

.label-submit {
    width: 183px;
    height: 17px;
    font-family: MuseoSans;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-left: 20px;
    padding-top: 20px;
    display: inline-block;
    cursor: pointer;
}

.right-image {
    padding-top: 12px;
    padding-right: 3px;
    float: right;
    cursor: pointer;
}

.disabledDiv {
    pointer-events: none;
    cursor: no-drop !important;
}

.disabledLabel {
    opacity: 0.3;
}

.set-pwd {
    height: 20px;
}

.search-button {
    position: relative;
    width: 30px;
    height: 54px;
    font-family: MuseoSans;
    font-size: 17.8px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    left: -3.7px;
    top: 2.4px;
    border: 0px;
}

.trust {
    background-color: #1ec713;
    cursor: pointer;
}